extends layout

block content
  h1= title
  p Welcome to #{title} Js
  p Rows = #{query.rows} and Columns = #{query.cols} we except
    -
        rows= Number(query.rows)
        col= Number(query.cols)
    if !Number.isInteger(rows)
        p below mentioned rows are not accurate 
    else if !Number.isInteger(col)
        p below mentioned columns are not appropriate
    else
       table           
            - for(let i=0; i<rows; i++) {
               tr
                 - for(let j=i; j<col-1; j++) {
                    td=j
                 -}        
                 -   for(let k=0; k<=i; k++){
                      td=k
                 -}      
            - }